# allow up to 3 minutes for Galaxy to respond to slow requests before timing out
proxy_read_timeout 180;

# maximum file upload size, defaults to 1MB
client_max_body_size 10g;

upstream tusd {
    server {{ containers.tusd.name }}:1080;
}

upstream app {
    server {{ containers.app.name }}:{{ app.port }};
}

map $http_x_forwarded_proto $proxiedscheme {
    default $http_x_forwarded_proto;
    "" $scheme;
}

server {
  listen       80 default_server;
  listen       [::]:80 default_server;
  server_name _;

  set $galaxy_root {{ nginx.paths.root }};
  set $plugin_root {{ paths.managed_config }};

  include cors.conf;

  # proxy all requests not matching other locations to uWSGI
  location / {
    proxy_pass_request_headers      on;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $proxiedscheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    include cors.conf;
    include cors_options.conf;
    include master_api_key;
    set $test '';
    set $api_key $http_x_api_key;
    if ($request_method = POST) {
        # Limit master api key to only POST requests
        set $test p$test;
    }
    if ($uri = '/api/users/') {
        # Limit master api key to only /api/users exactly
        set $test u$test;
    }
    if ($arg_key = '') {
        # Do not overwrite a passed api key
        set $test k$test;
    }
    if ($http_x_api_key = '') {
        # Do not overwrite a passed api key via header
        set $test h$test;
    }
    if ($test = 'hkup') {
        # Add master api key to query params if all tests succeed
        set $api_key $master_api_key;
    }
    proxy_set_header HTTP_X_API_KEY "$api_key";
    proxy_pass http://app;
  }

  # User download via nginx # TODO verify paths
  location /_x_accel_redirect/ {
      internal;
      alias /;
  }

  # User file uploads via the upload module
  location /_upload {
      upload_store {{ paths.data }}/uploads;
      upload_store_access user:rw group:rw all:rw;
      upload_pass_form_field "";
      upload_set_form_field "__${upload_field_name}__is_composite" "true";
      upload_set_form_field "__${upload_field_name}__keys" "name path";
      upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
      upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
      upload_pass_args on;
      upload_pass /_upload_done;
  }

  # once upload is complete, redirect to the proper galaxy path
  location /_upload_done {
      set $dst /api/tools;
      if ($args ~ nginx_redir=([^&]+)) {
          set $dst $1;
      }
      rewrite "" $dst;
  }

  # User file uploads via TUSd
  location /api/upload/resumable_upload {
    # Disable request and response buffering
    proxy_request_buffering  off;
    proxy_buffering          off;
    proxy_http_version       1.1;

    # Add X-Forwarded-* headers
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Forwarded-Proto $proxiedscheme;
    #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_set_header         Upgrade $http_upgrade;
    proxy_set_header         Connection "upgrade";
    client_max_body_size     0;
    proxy_pass http://tusd;
  }

  # serve framework static content
  location /static {
    alias $galaxy_root;
    expires 24h;
  }

  location /robots.txt {
    alias $galaxy_root/robots.txt;
    expires 24h;
  }

  location /favicon.ico {
    alias $galaxy_root/favicon.ico;
    expires 24h;
  }

  # serve visualization and interactive environment plugin static content
  location ~ ^/plugins/(?<plug_type>.+?)/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
    alias $plugin_root/$plug_type/$vis_name/static/$static_file;
    expires 24h;
  }

  location /health { return 200 "OK\n"; }
}