{% macro param_template(id, val) -%}
<param id="{{ id }}"{% if val is mapping and 'from_environ' in val %} from_environ="{{ val['from_environ'] }}"{% endif %}>
{%- if id in ('container', 'container_overrride') -%}
{% for type, attribs in val.items() %}
    <container type="{{ type }}"{% for a,v in attribs.items() if a not in ('image',) %} {{ a }}="{{ v }}"{% endfor %}>{{ attribs.image }}</container>
{% endfor %}
{%- elif val is mapping and 'default' in val -%}
    {{ val['default'] }}
{%- else -%}
    {{ val }}
{%- endif -%}
</param>
{%- endmacro %}
<?xml version="1.0"?>
<job_conf>
    <macros>
        <import>{{ paths.config }}/macros/tool_mapping.xml</import>
    </macros>
    <plugins workers="{{ galaxy.config.job_conf.default_workers or 4 }}">
    {% for plugin, config in galaxy.config.job_conf.get('plugins', {}).items() %}
        <plugin id="{{ plugin }}"{% for attrib, val in config.items() if attrib not in ('params',) %} {{ attrib }}="{{ val }}"{% endfor %}>
        {% for param, val in config.get('params', {}).items() %}
            {{ param_template(param, val) }}
        {% endfor %}
        </plugin>
    {% endfor %}
    </plugins>
    <handlers{% if 'default_handler' in galaxy.config.job_conf %} default="{{ galaxy.config.job_conf.default_handler }}"{% endif %}{% if 'handler_max_grab' in galaxy.config.job_conf %} max_grab="{{ galaxy.config.job_conf.handler_max_grab }}"{% endif %}{% if 'handler_assign_with' in galaxy.config.job_conf %} assign_with="{{ galaxy.config.job_conf.handler_assign_with | join(',') }}"{% endif %}>
    {% for handler, config in galaxy.config.job_conf.handlers %}
        <handler id="{{ handler }}" tags="{{ config.tags | join(',') }}">
        {% for plugin in config.get('plugins', []) %}
            <plugin id="{{ plugin }}" />
        {% endfor %}
        </handler>
    {% endfor %}
    </handlers>
    <destinations default="{{ galaxy.config.job_conf.get('default_destination', (galaxy.config.job_conf.get('destinations', {'':None}).keys() | list)[0]) }}">
    {% for destination, config in galaxy.config.job_conf.get('destinations', {}).items() %}
        <destination id="{{ destination }}"{% for attrib, val in config.items() if attrib not in ('params','job_metrics','env','source','exec', 'resubmit', 'tags') %} {{ attrib }}="{{ val }}"{% endfor %}{% if 'tags' in config %} tags="{{ config['tags'] if config['tags'] is string else config['tags']|join(',') }}"{% endif %}>
        {% for param, val in config.get('params', {}).items() %}
            {{ param_template(param, val) }}
        {% endfor %}
        {% if 'job_metrics' in config %}
            <job_metrics />
        {% endif %}
        {% for env, val in config.get('env', {}).items() %}
            <env id="{{ env }}">{{ val }}</env>
        {% endfor %}
        {% for source in config.get('source', []) %}
            <env file="{{ source }}" />
        {% endfor %}
        {% for exec in config.get('exec', []) %}
            <env exec="{{ exec }}" />
        {% endfor %}
        {% for resubmit in config.get('resubmit', []) %}
            <resubmit {% for a,v in resubmit.items() %} {{ a }}="{{ v }}"{% endfor %} />
        {% endfor %}
        </destination>
    {% endfor %}
    </destinations>
    <tools>
        <expand macro="tool_mapping" />
    {% for tool, config in galaxy.config.job_conf.get('tools', {}).items() %}
        <tool id="{{ tool }}"{% for attrib, val in config.items() if attrib not in ('params',) %} {{ attrib }}="{{ val }}"{% endfor %}>
        {% for param, val in config.get('params', {}).items() %}
            <param id="{{ param }}">{{ val }}</param>
        {% endfor %}
        </tool>
    {% endfor %}
    </tools>
    <limits>
    {% for limit, config in galaxy.config.job_conf.get('limits', {}).items() %}
        <limit id="{{ limit }}" {% for attrib, val in config.items() if attrib not in ('value',) %} {{ attrib }}="{{ val }}"{% endfor %}>{{ config['value'] }}</limit>
    {% endfor %}
    </limits>
</job_conf>