<?xml version="1.0"?>
<!-- Paths are relative to the value of `tool_data_path` in galaxy.yml -->
<tables>
    <macros>
        <import>{{ paths.config }}/macros/tool_data_tables.xml</import>
    </macros>
    <expand macro="tables" />
</tables>
